.header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.header-container {
    display: flex;
    margin-bottom: 3.5rem;
}

.header-logo  {
    width: 30%;
}

.header-logo img {
    width: 12%;
    margin-left: 25%;
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
      margin-top: 3.1rem;
}

.header-links button {
    margin-top: 3.1rem;
    padding: .3rem 1rem;
    margin-top: 3.1rem;
    margin-right: 1rem;
    justify-items: right;
    text-decoration: none;
    font-size: 15px;
    border: none;
    background-color: #0000005e;
    border-radius: 20px;
    outline: none;
}

.search-bar {
    width: 35%;
}

.header-links {
    width: 35%;
    text-align: right;
}

.search-bar input {
    font-size: 15px;
    width: 50%;
     padding: .3rem 1rem;
    margin-top: 3.1rem;
    margin-left: 25%;
    border-radius: 20px;
    outline: none;
    border: none;
}